/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

/* Contenedor principal */
.matrix-wrapper {
    display: inline-block;
    margin: 20px;
    width: 100%;
    max-width: 90vw;
    overflow-x: auto;
}

/* Contenedor de la cuadrícula */
.matrix-container {
    display: grid;
    grid-template-columns: 150px repeat(7, minmax(80px, 1fr));
    grid-template-rows: 50px repeat(9, minmax(80px, 1fr));
    gap: 10px;
}

/* Estilos para los encabezados de columna */
.header-column {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333;
    background-color: rgb(161, 195, 226);
    font-size: min(3vw, 14px);
    min-height: 60px;
    border-radius: 8px;
}

/* Estilos para los encabezados de fila */
.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    background-color: rgb(19, 63, 105);
    font-size: min(3vw, 14px);
    min-height: 60px;
    border-radius: 8px;
}

/* Estilos para cada cuadro de la matriz */
.matrix-item {
    position: relative;
    background-color: rgb(235, 235, 235); /* Color uniforme para todos los cuadros */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    min-width: 80px;
    min-height: 80px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

/* Cuadro rojo para destacar algunos cuadros */
.highlight-red {
    background-color: red;
}

/* Icono central dentro de algunos cuadros */
.icon {
    font-size: 2vw;
    color: #333; /* Color del icono */
}

/* Cuadro de texto emergente */
.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.9vw;
    display: none;
    white-space: nowrap;
    z-index: 1000;
    transform: translateX(110%); /* Posiciona el tooltip a la derecha */
}

/* Texto de crédito */
.credit-text {
    margin-top: 20px;
    font-size: 1vw;
    text-align: center;
    color: #333;
}
.responsive-image {
    width: 100%;
    max-width: 800px; /* Tamaño máximo opcional */
    height: auto; /* Mantiene la proporción */
    display: block; /* Centrado con margen automático */
    margin: 0 auto;
}
.code-container {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto; /* Para que se desplace horizontalmente si es necesario */
}
code {
    font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada */
    color: #333;
}