/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
/* Contenedor principal */
.matrix-wrapper {
    display: inline-block;
    margin: 20px;
}

/* Contenedor de la cuadrícula */
.matrix-container {
    display: grid;
    grid-template-columns: 50px repeat(4, 100px);
    grid-template-rows: 50px repeat(4, 100px);
    gap: 10px;
}

/* Títulos de columna y fila */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333;
}

/* Estilos para cada cuadro de la matriz */
.matrix-item {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

/* Cuadro de texto emergente */
.tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    display: none;
    white-space: nowrap;
    pointer-events: none;
    z-index: 1000;
}